{% extends 'base.html' %}

{% block content %}

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="row">
          <div class="col">
            <div class="row py-5">
              <div class="col z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h3 class="mb-0">Future work</h3>
                </div>
                <p class="text-lg mb-0">
                  For the future work of the web application, another function will be added to web application which is determine user by its STEM Package. The Ministry of Education has introduced new subject packages for students entering Form Four in 2020. Those Form 3 students in 2019 entering Form Four next year will have subject packages to choose from instead of the conventional science and arts streams. The arts and science streams are replaced with subjects that support STREAM (Science, Technology, Reading, Arts, Music) education. This infomation will be use in web application in more precise and accurate.
                  <br>
                  Another improvement can be made when the training model introduced with more machine learning model such as Random Forest, K-Neighbors, Neural Networks and else. With enough data, the result will be more accurate and precise.
                </p>
              </div>
            </div>
          </div>
      </div>
      
    </div>
  </div>


{% endblock %}